services:
  server:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    networks:
      - app

  postgres:
    image: "postgres:15.15-trixie"
    env_file:
      - .env
    ports:
      - "5432:5432"
    networks:
      - app

networks:
  app:
    driver: bridge
